---

---

<section class="border-b border-border">
    <div class="wrapper flex justify-between py-12">
        <div>
            <span class="eyebrow">Planos & Preços </span>

            <h1 class="title-display">
                Sem <br />
                <span class="text-yellow italic">enrolação.</span>
            </h1>
        </div>
        <div class="self-end text-right">
            <p>
                Planos mensais sem fidelidade. Cancele <br /> quando quiser, sem multa
                e sem burocracia.
            </p>
        </div>
    </div>
</section>
