---

---

<div class="marquee-wrap">
    <div class="marquee-track">
        <span class="marquee-item">Musculação</span><span class="marquee-sep"
            >/</span
        >
        <span class="marquee-item">HIIT</span><span class="marquee-sep">/</span>
        <span class="marquee-item">Funcional</span><span class="marquee-sep"
            >/</span
        >
        <span class="marquee-item">Spinning</span><span class="marquee-sep"
            >/</span
        >
        <span class="marquee-item">Boxing</span><span class="marquee-sep"
            >/</span
        >
        <span class="marquee-item">Yoga</span><span class="marquee-sep">/</span>
        <span class="marquee-item">Personal</span><span class="marquee-sep"
            >/</span
        >
        <span class="marquee-item">Nutrição</span><span class="marquee-sep"
            >/</span
        >
        <span class="marquee-item">Musculação</span><span class="marquee-sep"
            >/</span
        >
        <span class="marquee-item">HIIT</span><span class="marquee-sep">/</span>
        <span class="marquee-item">Funcional</span><span class="marquee-sep"
            >/</span
        >
        <span class="marquee-item">Spinning</span><span class="marquee-sep"
            >/</span
        >
        <span class="marquee-item">Boxing</span><span class="marquee-sep"
            >/</span
        >
        <span class="marquee-item">Yoga</span><span class="marquee-sep">/</span>
        <span class="marquee-item">Personal</span><span class="marquee-sep"
            >/</span
        >
        <span class="marquee-item">Nutrição</span><span class="marquee-sep"
            >/</span
        >
    </div>
</div>
